{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ for bookstore</title>
    <link rel="stylesheet" href="{% static 'FAQ.css' %}">
</head>
<body>
<h1 style="color: darkgreen" >欢迎来到常见问题页面，下面是列出的可能存在的问题</h1>
<h2 style="color: darkred">1.为什么我的界面没有背景图片？</h2>
<h3 style="color: black">这有可能是您的路径配置有误导致的，请检查您的路径信息</h3>
<h2 style="color: darkred">2.为什么我的查询没有响应？</h2>
<h3 style="color: black">或许您在查询的时候服务器的机主不在线，请联系我们</h3>
<h2 style="color: darkred">3.出现了其他问题</h2>
<h3 style="color: black">可能是设计出现了疏漏，请联系我们</h3>
</body>
</html>