{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录成功</title>
    <link rel="stylesheet" href="{% static 'uplist.css' %}">
</head>
<body>
    <nav>
		<ul>
			<li class="active"><a href="main">首页</a></li>
			<li><a href="search">查找</a></li>
			<li><a href="register">注册</a></li>
			<li><a href="login_view">登录</a></li>
			<li><a href="help">帮助</a></li>
            <li><a href="basket">购物车</a></li>
            <li><a href="checkout">checkout</a></li>
		</ul>
	</nav>

<h1>登录成功</h1>
</body>
</html>